* {
    box-sizing: border-box;
}

.grid {
    background-color: aquamarine;
    max-width: 400px;
    aspect-ratio: 1;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.row {
    background-color: blue;
    flex: 1;

    display: flex;
}

.pixel {
    background-color: coral;
    border: 1px solid black;
    flex: 1;
}