* {
    box-sizing: border-box;
}

.grid {
    background-color: aquamarine;
}

.row {
    display: flex;
    justify-content: center;
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: coral;
    border: 1px solid black;
}